body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    width: 800px;
    height: 500px;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

nav{
    padding: 10px;
}

.severator{
    margin: auto;
    height: 30px;
    width: 5px;
    background: white;
    border-radius: 2px;
}
.preview-body{
    /* border: 2px solid red; */
    margin: 10px 10px;
    padding: 10px;
    border-radius: .5rem;
    background-color: rgb(243, 247, 248);
}

.bg-top-tab-color{
  background-color: rgb(243, 247, 248);
  z-index: 2;
}

.preview-body p{
    display: inline;
}


.main-body{
    border: 2px solid green;
    height: 100px;
    width: 100%;
}
.text-content{
    width: 90%;
    margin-top: 150px;
    /* border: 1px solid grey; */
    /* height: 400px; */
}

.heading-container{
    margin: auto;
    width: 50%;
    font-weight: 700;
    font-size: 30px;
    /* border: 1px solid grey; */
    font-variant: small-caps;
}

.heading-para{
    /* border: 1 px solid grey; */
    margin-top: 30px;
    word-spacing: 3px;
}


.dark-theme{
    background-color: rgb(23, 23, 23);
    
}


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/*model popup css*/

.model{
  height: 430px;
  width: 95%;
  margin-top: 55px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 8;
  transition: 1s;
}

.model-heading{
  /* border: 1px solid green; */
  width: 100%;
  height: 40px;
  text-align: center;
}

.model-content{
  border-bottom: 1px solid grey;
  /* width: 95%; */
  height: 85%;
  box-sizing: border-box;
  padding: 25px;
  overflow-y: scroll;
  line-height: 25px;
  /* border-radius: 10px; */
  margin: auto;
  scroll-behavior: smooth;
  text-align: justify;
}

.model-content img{
  width: 70%;
  height: 90%;
  margin-left: 80px;
  margin-top: 20px;
}
.model-content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.model-buttons{
  padding: 15px;
}

.show-model{
  top: 50%;
  transition: 1.2s;
}

.model-bg{
  background-color: black;
  color: white;
}

.alert-text{
  text-align: center;
  margin-top: 30px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 25px;
  word-spacing: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*loading bar css */

.loading-overlay{
  position: absolute;
  top: -100%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(50, 48, 48, 0.948);
  z-index: 10;
}

.loading-img{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-overlay{
  top: 0;
}

